@import '../variablesCSS';

.modal-image {
  width: 200px;
  display: none;
  margin-left: 50px;
}

@media screen and (min-width: 1024px) {
  .modal-image {
    width: 400px;
    display: block;
  }
}

